html,
body {
	/* height: 100%; */
}

body {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

body > * {
	padding: 15px;
	text-align: center;
}

header {
	color: antiquewhite;
	background-color: brown;
}

footer {
	color: white;
	background-color: red;
}

@media (min-width: 786px) {
	body {
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
	}
}
